In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [16]:
df=pd.read_csv('income.csv')
df.head()

      Name  Age  Income($)
0      Rob   27      70000
1  Michael   29      90000
2    Mohan   29      61000
3   Ismail   28      60000
4     Kory   42     150000

In [7]:
df['Age']=df['Age'].values.reshape(-1,1)
df['Income($)']=df['Income($)'].values.reshape(-1,1)

In [14]:
scaler=MinMaxScaler()
scaler.fit(df['Age'])
df['Age']=scaler.transform(df['Age'])
scaler.fit(df['Income($)']])
df['Income($)']=scaler.transform(df['Income($)'])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices