In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
from sklearn.model_selection import cross_val_score

In [2]:
df=pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
X=df.drop('HeartDisease',axis=1)
y=df['HeartDisease']

In [4]:
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['ExerciseAngina']=le.fit_transform(X['ExerciseAngina'])
X['ChestPainType']=le.fit_transform(X['ChestPainType'])
X['RestingECG']=le.fit_transform(X['RestingECG'])
X['Sex']=le.fit_transform(X['Sex'])
X['ST_Slope']=le.fit_transform(X['ST_Slope'])
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
1,49,0,2,160,180,0,1,156,0,1.0,1
2,37,1,1,130,283,0,2,98,0,0.0,2
3,48,0,0,138,214,0,1,108,1,1.5,1
4,54,1,2,150,195,0,1,122,0,0.0,2

In [6]:
from sklearn.ensemble import RandomForestClassifier
cross_val_score(RandomForestClassifier(),X,y)

array([0.875     , 0.8423913 , 0.83152174, 0.85245902, 0.73770492])

In [7]:
from sklearn.tree import DecisionTreeClassifier
cross_val_score(DecisionTreeClassifier(),X,y)

array([0.74456522, 0.75      , 0.7826087 , 0.73770492, 0.65027322])